{% extends _layout %}


{% block content %}
    <section>
        <div class="section-header">
            <ol class="breadcrumb">
                <li><a href="{{ site_url('dashboard') }}">dashboard</a></li>
                <li><a href="{{ site_url('ts/sosek-kawasan') }}">sosek kawasan</a></li>
                <li class="active">List Data</li>
            </ol>
        </div>
        <div class="section-body contain-lg">

            <div class="card card-underline">
                <div class="card-head">
                    <header>Sosek Kawasan</header>
                    <div class="tools">
                        <div class="btn-group">
                            <a class="btn btn-icon-toggle btn-form"><i class="fa fa-plus"></i></a>
                            <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>
                </div>

                <div class="card-body">

                    <!--form mode-->
                    <div class="card card-form">
                        <form id="form-engine" action="{{ site_url('ts/sosek_kawasan/submit') }}" class="form form-validate floating-label" method="post" enctype="multipart/form-data">
                            <div class="card-body text-default-light">
                                <input type="hidden" class="form-control" name="{{ _csrf }}" value="{{ _token }}" />
                                <input type="hidden" class="form-control" name="id" value="{{ object.trs_sosek_kawasan_id }}" />
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <select name="satker" class="form-control select2-list" data-placeholder="Select an item" required >
                                                {% for data in satker %}
                                                    <option value="{{ data.mst_satker_id }}" {% if (data.mst_satker_id == object.trs_sosek_kawasan_satker_id) %} selected="selected" {% endif %}>{{ data.mst_satket_name }}</option>
                                                {% endfor %}
                                            </select>
                                            <label for="satker">Satker</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <select name="satker" class="form-control select2-list" data-placeholder="Select an item" required >
                                                {% for data in kota %}
                                                    <option value="{{ data.mst_kota_id }}" {% if (data.mst_kota_id == object.trs_sosek_kawasan_kota) %} selected="selected" {% endif %}>{{ data.mst_kota_name }}</option>
                                                {% endfor %}
                                            </select>
                                            <label for="satker">Kota</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <select name="satker" class="form-control select2-list" data-placeholder="Select an item" required >
                                                {% for data in desa %}
                                                    <option value="{{ data.mst_desa_id }}" {% if (data.mst_desa_id == object.trs_sosek_kawasan_desa) %} selected="selected" {% endif %}>{{ data.mst_desa_name }}</option>
                                                {% endfor %}
                                            </select>
                                            <label for="satker">Desa</label>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="pendapatan_perkapita" value="{{ data.trs_sosek_kawasan_pendapatan_perkapita }}" name="pendapatan_perkapita" required />
                                            <label for="pendapatan_perkapita">Pendapatan Perkapita</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="pengeluaran_perkapita" value="{{ data.trs_sosek_kawasan_pengeluaran_perkapita }}" name="pengeluaran_perkapita" required />
                                            <label for="pengeluaran_perkapita">Pengeluaran Perkapita</label>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="inflasi" value="{{ data.trs_sosek_kawasan_inflasi }}" name="inflasi" required />
                                            <label for="inflasi">Inflasi</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="peningkatan_perkapita" value="{{ data.trs_sosek_kawasan_peningkatan_perkapita }}" name="peningkatan_perkapita" required />
                                            <label for="peningkatan_perkapita">Peningkatan Perkapita</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="col-sm-4">
                                            <div class="form-group control-width-normal">
                                                <div class="input-group date">
                                                    <div class="input-group-content">
                                                        <input type="text" name="tahun" class="form-control" value="{{ data.trs_sosek_kawasan_tahun }}">
                                                        <label>Tahun</label>
                                                    </div>
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <select name="jenis_bantuan" class="form-control select2-list" data-placeholder="Select an item" required >
                                                    {% for data in bantuan %}
                                                        <option value="{{ data.mst_jenis_bantuan_id }}" {% if (data.mst_jenis_bantuan_id == object.trs_sosek_kawasan_jenis_bantuan_id) %} selected="selected" {% endif %}>{{ data.mst_satket_name }}</option>
                                                    {% endfor %}
                                                </select>
                                                <label for="jenis_bantuan">Jenis Bantuan</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" value="{{ data.trs_sosek_kawasan_metode }}" id="metode" name="metode" required />
                                            <label for="metode">Metode</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-actionbar">
                                <div class="card-actionbar-row">
                                    <a href="javascript:void(0);" onclick="$('.card-form').hide(500);" class="btn btn-flat btn-default ink-reaction cancel">Batal</a>
                                    <button type="submit" class="btn btn-flat btn-accent ink-reaction">Simpan</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--end form-->

                    <div id="result"></div>

                </div>
            </div>

        </div>
    </section>

    <div class="cd-popup" role="alert">
        <div class="cd-popup-container">
            <p>Are you sure you want to delete this element?</p>
            <div class="btn-group btn-group-justified" role="group" aria-label="engine group">
                <a class="btn btn-danger" onclick="delete_item('{{ site_url('ts/sosek_kawasan') }}');" role="button">Hapus</a>
                <a class="btn btn-default cd-popup-cancel" role="button">Batal</a>
            </div>
            <a href="javascript:void(0);" class="cd-popup-close img-replace">Close</a>
        </div>
    </div>

{% endblock %}

{% block js_core %}
    {# -- core script -- #}
    {{ js('core/iengine/iengine.js', 'js') }}
{% endblock %}