{%  set config = get_config() %}
{%  set ci = get_instance() %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ title }}</title>

    {{ meta }}

    <!-- Open Sans font from Google CDN -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">

    <!-- Pixel Admin's stylesheets -->
    {{ css('bootstrap.min.css', 'all', 'css_default') }}
    {{ css('pixel-admin.css', 'all', 'css_default') }}
    {{ css('pages.min.css', 'all', 'css_default') }}
    {{ css('rtl.min.css', 'all', 'css_default') }}
    {{ css('themes.min.css', 'all', 'css_default') }}

    <!--[if lt IE 9]>
    <script src="assets/javascripts/ie.min.js"></script>
    <![endif]-->

</head>

<body class="theme-asphalt page-signin-alt">

    <div class="signin-header">
        <a href="index.html" class="logo">
            <div class="demo-logo bg-primary">{{ img('../demo/logo-big.png', 'img_path', {'style':'rmargin-top: -4px;sImg','alt':''}) }}</div>&nbsp;
            {{ config.application }} {{ config.version }}
        </a> <!-- / .logo -->
    </div> <!-- / .header -->

<h1 class="form-header">Sign in to your Account</h1>


<!-- Form -->
<form action="{{ site_url('admin/auth/login') }}" id="signin-form_id" method="post" class="panel">

    {% if(ci.session.userdata('error')) %}
    <div class="alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{ ci.session.userdata('error') }}
    </div>
    {% endif %}

    <div class="form-group">
        <input type="text" name="username" id="username_id" class="form-control input-lg" placeholder="Username">
    </div> <!-- / Username -->

    <div class="form-group signin-password">
        <input type="password" name="password" id="password_id" class="form-control input-lg" placeholder="Password">
        <a href="#" class="forgot">Forgot?</a>
    </div> <!-- / Password -->

    <div class="form-actions">
        <input type="submit" value="Login" class="btn btn-primary btn-block btn-lg">
    </div> <!-- / .form-actions -->
</form>
<!-- / Form -->



<!-- Get jQuery from Google CDN -->
<!--[if !IE]> -->
{{ js('jquery-2.1.3.min.js', 'js_libs') }}
{{ js('jquery-migrate-1.2.1.min.js', 'js_libs') }}
<![endif]-->


<!-- Pixel Admin's javascripts -->
{{ js('bootstrap.min.js', 'js_default') }}
{{ js('pixel-admin.min.js', 'js_default') }}

<script type="text/javascript">
    window.PixelAdmin.start([
        function () {
            $("#signin-form_id").validate({ focusInvalid: true, errorPlacement: function () {} });

            // Validate username
            $("#username_id").rules("add", {
                required: true
            });

            // Validate password
            $("#password_id").rules("add", {
                required: true
            });
        }
    ]);
</script>

</body>
</html>