<header id="header" >
    <div class="headerbar">

        <div class="headerbar-left">
            <ul class="header-nav header-nav-options">
                <li class="header-nav-brand" >
                    <div class="brand-holder">
                        <a href="{{ site_url('') }}">
                            <span class="text-lg text-bold text-primary">{{ config['code'] }}</span>
                        </a>
                    </div>
                </li>
                <li>
                    <a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="headerbar-right">
            <ul class="header-nav header-nav-profile">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
                        {{ img('avatar.jpg', 'img', []) }}
								<span class="profile-info">
									{{ ci.session.userdata('guard')['name'] }}
									<small>{{ ci.session.userdata('guard')['akses_name'] }}</small>
								</span>
                    </a>
                    <ul class="dropdown-menu animation-dock">
                        <li><a href="../../html/pages/calendar.html">Change Password</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ site_url('auth/logout') }}"><i class="fa fa-fw fa-power-off text-danger"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>