<li id="menu-dashboard">
    <a href="{{ site_url('admin/dashboard') }}"><i class="menu-icon fa fa-dashboard"></i><span class="mm-text">Dashboard</span></a>
</li>
<li class="mm-dropdown" id="menu-products">
    <a href="javascript:void(0);"><i class="menu-icon fa fa-cutlery"></i><span class="mm-text">Products</span></a>
    <ul>
        <li id="submenu-category"><a tabindex="-1" href="{{ site_url('admin/category') }}"><span class="mm-text">Category</span></a></li>
        <li id="submenu-catalogue"><a tabindex="-1" href="{{ site_url('admin/products') }}"><span class="mm-text">Catalogue</span></a></li>
    </ul>
</li>
<li id="menu-navigation">
    <a href="{{ site_url('admin/navigation') }}"><i class="menu-icon fa fa-sitemap"></i><span class="mm-text">Navigation</span></a>
</li>
<li id="menu-users">
    <a href="{{ site_url('admin/users') }}"><i class="menu-icon fa fa-users"></i><span class="mm-text">Users</span></a>
</li>
<li id="menu-modules">
    <a href="{{ site_url('admin/modules') }}"><i class="menu-icon fa fa-plug"></i><span class="mm-text">Plugin</span></a>
</li>
<li class="mm-dropdown" id="menu-settings">
    <a href="javascript:void(0);"><i class="menu-icon fa fa-wrench"></i><span class="mm-text">Settings</span></a>
    <ul>
        <li><a tabindex="-1" href="{{ site_url('admin/settings/general') }}"><span class="mm-text">General</span></a></li>
    </ul>
</li>